@model AirAidans.DATA.EF.Models.Shoe

@{
    ViewData["Title"] = "Create";
}

<h1 class="heading-text">Create</h1>


<div class="container">

    <div class="row">
        <div class="col-md-8 offset-md-2 t-text ">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <table class="table table-bordered t-text">
                    <tbody>
                        <tr>
                            <th class="text-end" style="width: 30%;">Brand:</th>
                            <td>
                                <input asp-for="Brand" class="form-control" />
                                <span asp-validation-for="Brand" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">Model:</th>
                            <td>
                                <input asp-for="Model" class="form-control" />
                                <span asp-validation-for="Model" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">Size:</th>
                            <td>
                                <input asp-for="Size" class="form-control" />
                                <span asp-validation-for="Size" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">Color:</th>
                            <td>
                                <input asp-for="Color" class="form-control" />
                                <span asp-validation-for="Color" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">SKU:</th>
                            <td>
                                <input asp-for="Sku" class="form-control" />
                                <span asp-validation-for="Sku" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">Category:</th>
                            <td>
                                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">Supplier:</th>
                            <td>
                                <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">Description:</th>
                            <td>
                                <input asp-for="ShoeDescription" class="form-control" />
                                <span asp-validation-for="ShoeDescription" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">Shoe Image:</th>
                            <td>
                                <input type="file" asp-for="Image" class="form-control" />
                                <span asp-validation-for="ShoeImage" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">Price:</th>
                            <td>
                                <input asp-for="Price" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <div class="form-group text-center">
                       <a asp-action="Index" class="btn btn-danger">Back To List</a>
                    <button type="submit" class="btn btn-primary">Create</button>
                
                      
                </div>
                 
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
