@model AirAidans.DATA.EF.Models.Category

@{
    ViewData["Title"] = "Details";
}


<div class="center-content">
    <!-- Centering the content -->
    <h1 class="heading-text">Details</h1>

    <div class="container">
    <dl class="row t-text">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryDescription)
        </dd>
    </dl>
</div>
    <div class="form-group text-center">
        <a asp-action="Index" class="btn btn-danger">Back To List</a>
    </div>

